In [10]:
import pandas as pd
import datetime as dt

data_dict = {
    "Datetime" : [dt.datetime(2022,2,15, 9, 35+i, 0) for i in range(10)],
    "Close": [100 + 0.01 * i for i in range(10)],
}
df = pd.DataFrame(data_dict)

print(df)

other_data_dict = {
    "Datetime" : [dt.datetime(2022,2,15, 9, 40, 0) + dt.timedelta(minutes=i) for i in range(10)],
    "Close": [100.05 + 0.01 * i for i in range(10)],
    "Indicator": [100 + 0.01 * i for i in range(10)]
}
other_df = pd.DataFrame(other_data_dict)
print(other_df)

             Datetime   Close
0 2022-02-15 09:35:00  100.00
1 2022-02-15 09:36:00  100.01
2 2022-02-15 09:37:00  100.02
3 2022-02-15 09:38:00  100.03
4 2022-02-15 09:39:00  100.04
5 2022-02-15 09:40:00  100.05
6 2022-02-15 09:41:00  100.06
7 2022-02-15 09:42:00  100.07
8 2022-02-15 09:43:00  100.08
9 2022-02-15 09:44:00  100.09
             Datetime   Close  Indicator
0 2022-02-15 09:40:00  100.05     100.00
1 2022-02-15 09:41:00  100.06     100.01
2 2022-02-15 09:42:00  100.07     100.02
3 2022-02-15 09:43:00  100.08     100.03
4 2022-02-15 09:44:00  100.09     100.04
5 2022-02-15 09:45:00  100.10     100.05
6 2022-02-15 09:46:00  100.11     100.06
7 2022-02-15 09:47:00  100.12     100.07
8 2022-02-15 09:48:00  100.13     100.08
9 2022-02-15 09:49:00  100.14     100.09

In [20]:
df.merge(other_df, how="left")

             Datetime   Close  Indicator
0 2022-02-15 09:35:00  100.00        NaN
1 2022-02-15 09:36:00  100.01        NaN
2 2022-02-15 09:37:00  100.02        NaN
3 2022-02-15 09:38:00  100.03        NaN
4 2022-02-15 09:39:00  100.04        NaN
5 2022-02-15 09:40:00  100.05     100.00
6 2022-02-15 09:41:00  100.06     100.01
7 2022-02-15 09:42:00  100.07     100.02
8 2022-02-15 09:43:00  100.08     100.03
9 2022-02-15 09:44:00  100.09     100.04

In [21]:
df.merge(other_df, how="right")

             Datetime   Close  Indicator
0 2022-02-15 09:40:00  100.05     100.00
1 2022-02-15 09:41:00  100.06     100.01
2 2022-02-15 09:42:00  100.07     100.02
3 2022-02-15 09:43:00  100.08     100.03
4 2022-02-15 09:44:00  100.09     100.04
5 2022-02-15 09:45:00  100.10     100.05
6 2022-02-15 09:46:00  100.11     100.06
7 2022-02-15 09:47:00  100.12     100.07
8 2022-02-15 09:48:00  100.13     100.08
9 2022-02-15 09:49:00  100.14     100.09

In [22]:
df.merge(other_df, how="inner")

             Datetime   Close  Indicator
0 2022-02-15 09:40:00  100.05     100.00
1 2022-02-15 09:41:00  100.06     100.01
2 2022-02-15 09:42:00  100.07     100.02
3 2022-02-15 09:43:00  100.08     100.03
4 2022-02-15 09:44:00  100.09     100.04

In [23]:
df.merge(other_df, how="outer")

              Datetime   Close  Indicator
0  2022-02-15 09:35:00  100.00        NaN
1  2022-02-15 09:36:00  100.01        NaN
2  2022-02-15 09:37:00  100.02        NaN
3  2022-02-15 09:38:00  100.03        NaN
4  2022-02-15 09:39:00  100.04        NaN
5  2022-02-15 09:40:00  100.05     100.00
6  2022-02-15 09:41:00  100.06     100.01
7  2022-02-15 09:42:00  100.07     100.02
8  2022-02-15 09:43:00  100.08     100.03
9  2022-02-15 09:44:00  100.09     100.04
10 2022-02-15 09:45:00  100.10     100.05
11 2022-02-15 09:46:00  100.11     100.06
12 2022-02-15 09:47:00  100.12     100.07
13 2022-02-15 09:48:00  100.13     100.08
14 2022-02-15 09:49:00  100.14     100.09